/* Resetting default margins and paddings */

* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #202124;
  }
  
/* Styling of divs */

/* ---------------- Top elements ----------------------- */
.topEle{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 6px;
  padding-top: 10px;
  font-size: smaller;
}
.topEle span{
  margin: 5px;
  padding-right: 4px;
}
.topEle a{
  color: white;
  text-decoration: none;
}

a img{
  border-radius: 50%;
  margin:0 5px;
}

span a:hover{
  text-decoration: underline;
}
/* ---------------- Top elements over ----------------------- */
 
/* -------------------- Google Logo ------------------------- */
.logo{
  padding-top: 6px;
  text-align: center;
}
.logo img{
  height: 100px;
}

/* -------------------- Google Logo over ------------------------- */


/* -------------------- Search Bar ------------------------- */
.search-bar {
    display: flex;
    flex-direction:column;
    align-items: center;
    margin-top: 20px;
    }
  
  input{
    padding: 10px;
    padding-left: 20px;
    border: 1px solid #ccc;
    background-color: #202124;
    color: white;
    border-radius: 20px;
    width: 50vw;
    height: 25px; 
    font-size: 15px;
    outline: none; /*Remove default outline*/
  }
/* -------------------- Search Bar over ------------------------- */
  

/* -------------------- Search Buttons ------------------------- */

  .buttons{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .buttons button {
    margin: 5px;
    padding: 10px 20px;
  
    border: none;
    background-color: #4f5157; /*Google Blue*/
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-out;
  }
  
  button:hover {
    background-color: black; /* Darker shade of Google Blue on hover */
  }
  
  .linkStyle{
    text-decoration: none;
    color: white;
  }

  .buttons button:hover{
    outline: solid rgb(200, 198, 198);
  }
/* -------------------- Search Buttons over ------------------------- */

/* --------------------------- Languages ---------------------- */
.langs{
  text-align: center;
  color: rgb(159, 156, 156);
  margin-top: 18px;
  font-size: small;
  height: 200px;
}
.langs span{
  padding: 0 5px;
}
.langs a{
  color: rgb(112, 167, 215);
  text-decoration: none;
}
/* --------------------------- Languages over ---------------------- */

/* --------------------------- Footer 1 ---------------------- */

.footer1 , .footer2{
  background-color: rgb(27, 26, 26);
  color: rgb(241, 238, 238);
  padding: 15px 30px;
}

.footers{
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
}
.footer1{
  border-bottom: solid 1px rgb(135, 135, 135);
}
.footer2{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
} 

.footer2 a{
  color: rgb(241, 238, 238);
  text-decoration: none;
}
.footer2 a:hover{
 text-decoration: underline;
}

.lFooter a{
  padding: 0 15px;  
  font-size: small;
}
/* --------------------------- Footer 1 complete ---------------------- */
/* @media screen and (max-width: 768px){ */
@media (max-width: 768px){
  input{
    width: 70vw;
  }
  .langs{
    height: 160px;
  }
  .footer2{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .bFooter{
    padding-top: 5px;
  }
}

@media screen and (max-width: 470px){
  .langs p{
    display: flex;
    flex-direction: column;
  }
}